.after_header{
    padding: 50px 0;
    direction: rtl;
}

.after_header h1{
    width: 90%;
    text-align: right;
}
.after_header p{
    direction:rtl;
    text-align: justify;

}


.direction_l{
    direction:ltr;
    text-align: justify;
}
.direction_r{
    direction:rtl;
    text-align: justify;
}