
.choose-test__wrapper {
    display: flex;
    margin: 0 auto;
    /*max-width: 70%;*/
}

.card {
    background: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    margin: 24px;
    width: 100%;
}
.card:hover {
    box-shadow: 0px 5px 22px -3px rgba(0, 0, 0, 0.21);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

.card--cap {
    height: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card--cap.green {
    background: #24c96c;
}
.card--cap.blue {
    background: #336dd8;
}

.card--body {
    min-height: 50px;
    padding: 16px;
    text-align: right;
}

.card--header {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-align: center;
    direction: rtl;
}
.card--header.green,.card--tip.green {
    color: #24c96c;
}
.card--header.blue,.card--tip.blue {
    color: #336dd8;
}


.card--tip{
    /*font-size: 16px;*/
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
}




.direction_l{
    direction:ltr;
    text-align: justify;
}
.direction_r{
    direction:rtl;
    text-align: justify;
}